<div class="container">
	<article class="card">
		<header class="card-header">
			<h1 class="card-title">
				Stats
			</h1>
		</header>
		<d-spinner *ngIf="!statsLoaded"></d-spinner>
		<section class="stats" *ngIf="statsLoaded">
			<time-table [table-data]="employee.apps.productive"></time-table>
			<time-table [table-data]="employee.apps.neutral"></time-table>
			<time-table [table-data]="employee.apps.unproductive"></time-table>
		</section>
		<p class="message warning text-center" *ngIf="missingSettings">
			Ups! Seems that, you didn't wen't to <a uiSref="settings" uiSrefActive="active">settings page</a>. API key and your hour wage is missing ! :(
		</p>
		<p class="message error text-center" *ngIf="apiError">
			Ups! Seems that, you we could'nt connect to Desktime API. <br>Please double check your API key in <a uiSref="settings" uiSrefActive="active">settings page</a>.
		</p>
	</article>
</div>