<div class="container">
	<article class="card">
		<header class="card-header">
			<h1 class="card-title">
				Hello
			</h1>
		</header>
        <p>
            Simple Angular2 app, which loads data from Desktime API. Since the source actually allows only to load data per day, what you can do for now is:

        </p>
        <ul class="green-stars">
            <li>
                Set your hour wage
            </li>
            <li>
                Calculate how much did you earn current day so far.
            </li>
        </ul>
        <ul class="steps">
            <li>
                <span class="step">1</span>
                Go to <a uiSref="settings" uiSrefActive="active">settings</a> page.
            </li>
            <li>
                <span class="step">2</span>
                Set your API key. You can find it <a href="https://desktime.com/app/api" target="_blank">here</a>.
            </li>
            <li>
                <span class="step">3</span>
                Set your hour wage.
            </li>
            <li>
                <span class="step">4</span>
                Go to stats page.
            </li>
            <li>
                <span class="step">5</span>
                Voilà !
            </li>
        </ul>
	</article>
</div>