<html>
	<head>
		<base href="/" />
		<title>hello</title>
		<link rel="stylesheet" type="text/css" href="<% if(htmlWebpackPlugin.options.IS_BUILD){ %>/assets/<% } %>bundle.main.css">
	</head>
	<body>
		<desktime-stats-app></desktime-stats-app>
	</body>
	<script type="text/javascript" src="<% if(htmlWebpackPlugin.options.IS_BUILD){ %>/assets/<% } %>bundle.main.js"></script>
</html>